@model IEnumerable<Record> 
@{
    ViewData["Title"] = "Home Page";
}



<a asp-action="CreateRecord" asp-controller="Home">Создать запись</a>
<a asp-action="CreateMeeting" asp-controller="Home">Добавить встречу</a>
<a asp-action="CreateCase" asp-controller="Home">Добавить дело</a>

<p>@ViewBag.IUser</p><br />

<div>
    <form method="get">
        <div class="form-inline form-group">
            <label class="control-label">Тема: </label>
            <input name="theme" class="form-control" />

            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>


    <form method="get">

        <input type ="hidden" name="theme" value="" />
        <input type="submit" value="Сбросить фильтр" class="btn btn-default" />
    </form>

</div>


<table class="table">
    <tr>
        <th>Тип</th>
        <th>Тема</th>
        <th>
            <a asp-action="Index" asp-controller="Home" asp-route-sortState="@ViewBag.DateSort">дата начала</a>
        </th>
        <th>
            дата окончания
        </th>

    </tr>
    @foreach (var value in Model)
    {

        <tr>
            <td>@value.Discriminator</td>
            @value.GetInfo()
            
            
            
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-RecordId="@value.RecordId">Изменить</a>
                <a asp-action="Delete" asp-controller="Home" asp-route-RecordId="@value.RecordId">Удалить</a>
            </td>
        </tr>
    }
</table>