@model IEnumerable<Record> 
@{
    ViewData["Title"] = "Home Page";
}



<a asp-action="CreateRecord" asp-controller="Home">Создать запись</a>
<a asp-action="CreateMeeting" asp-controller="Home">Добавить встречу</a>
<a asp-action="CreateCase" asp-controller="Home">Добавить дело</a>

<p>@ViewBag.IUser</p><br />


<table class="table">
    <tr>
        <th>Сортировка:</th>
        <th>
            дата окончания
        </th>
        <th>
            <a asp-action="Index" asp-controller="Home" asp-route-sortState="@ViewBag.DateSort">дата начала</a>
        </th>
    </tr>
    @foreach (var value in Model)
    {

        <tr>
            <td>@value.Discriminator</td>
            @value.GetInfo()
            
            
            
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-RecordId="@value.RecordId">Изменить</a>
                <a asp-action="Delete" asp-controller="Home" asp-route-RecordId="@value.RecordId">Удалить</a>
            </td>
        </tr>
    }
</table>